body{
    color: rgb(219, 115, 188);
    background-color: rgb(214, 218, 198);
font-size:x-large;
    text-align: center;
    margin-bottom: auto;
    padding: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}